

<h4>{{title}}</h4>

<a routerLink="/parent">Parent</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/company">company</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/company/manager">manager</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/admin">admin</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/admin/hrssection">hrsection</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/formArray">formArray</a> &nbsp;&nbsp;&nbsp;
<a routerLink="/tableFormArray">tableFormArray</a> &nbsp;&nbsp;&nbsp;

<!-- <app-counter-parent></app-counter-parent> -->


<div>
   <router-outlet></router-outlet>
</div>